a{
    color: rgb(86, 140, 241);
    font-size: 18pt;
}
h1{
    text-align: center;
    color: darkgray;
    font-size: 24pt;
    font-style: italic;
}

h2{
    color: aliceblue;
}
h3{
    color: aliceblue;
    
}

body{
    background-color: gainsboro;
    background-image: url("../image/table.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
}

ol{
    opacity: 0.9;
    filter: alpha(opacity = 90);
    padding: 20px;
}

ol:hover{
    background: darkgray;
    opacity: 0.9;
    filter: alpha(opacity = 90);
    padding: 20px;
}

.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    padding-top: 20px;
}

.left{
    left: 0;
}

.left:hover{
    border: 2px solid grey;
    overflow: scroll;
}

.lefted{
    padding-left: 2%;
}

.right{
    right: 0;
}

.right:hover{
    border: 2px solid grey;
    overflow: scroll;
}

.righted{
    padding-left: 2%;
}

#_menu, #customerOrders{
    color: antiquewhite;
}

input[type=text], input[type=email], input[type=password]{
    width: 30%;
    padding: 12px 15px;
    border: 3px solid grey;
    border-radius: 8px;
}
input[type=submit], input[type=button]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.home_image{
    margin-left: 25%;
}

.section{
    text-align: center;
    padding-top: 10px;
}

.accept, #add, #getMenu, #placeOrder, .cart{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.decline, .cancel, #delete{
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
.approval{
    background-color: white; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    padding: 14px 80px;
}
.approval {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.approval:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.order_history{
    text-align: center;
    padding-top: 1%;
}

#edit, .reOrder{
    background-color: orange; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}