*{
    box-sizing: border-box;
}

a{
    color: white;
    font-size: 18px;
}
h1{
    color: tan;
    font-size: 26pt;
}

h2{
    color: aliceblue;
}
h3{
    color: aliceblue;
    
}

body{
    background-color: gainsboro;
    background-image: url("../image/table.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
}

ol{
    opacity: 0.9;
    filter: alpha(opacity = 90);
    padding: 20px;
}

ol:hover{
    background: darkgray;
    opacity: 0.9;
    filter: alpha(opacity = 90);
    padding: 20px;
}

.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow: hidden;
    padding-top: 20px;
}

.left{
    left: 0;
}

.left:hover{
    border: 2px solid grey;
    overflow: auto;
}

.lefted{
    padding-left: 2%;
}

.right{
    right: 0;
}

.right:hover{
    border: 2px solid grey;
    overflow: auto;
}

.righted{
    padding-left: 2%;
}

header{
    background-color: #777;
    padding: 20px;
    text-align: left;
    color: white;
}

footer{
    background-color: #777;
    padding: 5px;
    text-align: center;
    color: white;
}

#_menu, #customerOrders{
    color: antiquewhite;
}

input[type=text], input[type=email], input[type=password]{
    width: 30%;
    padding: 12px 15px;
    border: 3px solid grey;
    border-radius: 8px;
}
input[type=submit], input[type=button]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.home_image{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1%);
    text-align: center;
}

.section{
    text-align: center;
    padding-top: 10px;
}

.accept, #add, #getMenu, #placeOrder, .cart{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
}

.decline, .cancel, #delete{
    background-color: rgb(255, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
}
.approval{
    background-color: white; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    padding: 14px 80px;
    cursor: pointer;
}
.approval {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.approval:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.order_history{
    text-align: center;
    padding-top: 1%;
}

#signupBtn, #logoutBtn{
    float: right;
}

#edit, .reOrder, #signupBtn, #logoutBtn{
    background-color: orange; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal-content{
    background-color: darkgray;
    opacity: 0.9;
    /* background-image: url("../image/resta.jpg"); */
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    animation-name: modalanime;
    animation-duration: 1s;
}

#closeBtn{
    color: white;
    float: right;
    font-size: 30px;
}

#closeBtn:hover{
    color: red;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalanime{
    from{opacity: 0}
    to{opacity: 1}
}